/* Basic Style */
body {
  font-family: "Open Sans", sans-serif;
  color: #082d58;
}

a {
  color: #3c4261;
}

a:hover {
  color: #1379a8;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-size: 14px;
  letter-spacing: 0.005rem;
}

/* Header-Style */
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  transition: all ease-in-out 0.5s;
  z-index: 9999;
  transition: all 0.5s;
  padding: 0 15px;
  background: #091330;
  overflow-y: auto;
}

#main {
  margin-left: 230px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}

/* Webside-Logo */
#header .logo {
  fill: #fff;
  width: 115px;
  height: 115px;
  position: relative;
  margin: 50px auto auto;
  display: block;
  border-radius: 100px;
  border: 4px solid #3c4261;
  padding: 14px; 
}

#header .logo:hover {
  fill: #3c4261;
  width: 115px;
  height: 115px;
  position: relative;
  margin: 50px auto auto;
  display: block;
  border-radius: 100px;
  border: 4px solid #3c4261;
  padding: 14px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

/* Social-Icon */
#header .social-media .social-links a {
  font-size: 10px;
  display: inline-block;
  background: #3c4261;
  fill: #091330;
  line-height: 1;
  padding: 0;
  margin: 2px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: 0.9s;
  margin-top: 140px;
}

#header .social-media .social-links a:hover {
  background: #3c4261;
  fill: #fff;
  text-decoration: none;
}

/* Side-Navigation */
.navbar-icons {
  fill: #6f7180;
  width: 24px;
}

.navbar-icons:hover {
  fill: #fff;
  width: 24px;
}

.nav-menu span {
  padding-left: 4px;
  margin: 12px;
  display: block;
  position: relative;
}

.sidebar-link ul {
  margin-top: 20px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu {
  padding-top: 30px;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #6f7180;
  padding: 8px;
  transition: 0.3s;
  font-size: 16px;
  height: 56px;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu .active > a  {
  text-decoration: none;
  color: #ffffff;
}

.nav-menu li:hover > a {
  text-decoration: none;
  color: #ffffff;
}

.nav-menu .active > a i 
.nav-menu li:hover > a i {
  color: #ffffff;
}

.nav-menu a:hover 
.nav-menu li:hover > a {
  text-decoration: none;
  color: #ffffff;
}

.nav-menu a:hover i 
.nav-menu li:hover > a i {
  color: #ffffff;
}

/* Burger-Menu */
.mobile-nav-toggle {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none !important;
  font-size: 20px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right; 
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

#menu-line-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(9, 19, 48, 0.50);
  height: 36px;
  width: 36px;
  border-radius: 4px;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.burger-bar-1 {
  content: '';
  position: absolute;
  background: lightcyan;
  height: 2px;
  width: 22px;
  border-radius: 10px;
  transition: all .5s ease-in-out;
  transform: translateY(-6px);
}

.burger-bar-2 {
  background: lightcyan;
  height: 2px;
  width: 22px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.burger-bar-3 {
  content: '';
  position: absolute;
  background: lightcyan;
  height: 2px;
  width: 22px;
  border-radius: 10px;
  transition: all .5s ease-in-out;
  transform: translateY(6px);
}

.change .burger-bar-1{
  transform: rotate(-45deg) translateY(0px);
}

.change .burger-bar-2 {
  opacity: 0;
}

.change .burger-bar-3 {
  transform: rotate(45deg) translateY(0px);
}

/* Hero-Image */
.hero-container {
  padding: 12px;
}

#hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../img/hero-bg.jpg") no-repeat center;
  background-size: cover;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 340px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 50px;
  font-weight: 550;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  margin: 0;
  font-size: 34px;
  font-weight: 500;
  line-height: 50px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 4px solid #1379a8;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 40px;
    line-height: 36px;
    font-weight: 600;
  }
  #hero h2 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}

/* Section-Style */
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  color: #173b6c;
  letter-spacing: 0.5px;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 4px;
  background: #1379a8;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

.section-title li {
  margin-bottom: 10px;
  font-size: 16px;
}

/* Profile-Summary */
.profile_summary .content h3 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  color: #1379a8;
}

.profile_summary .content ul {
  list-style: none;
  padding: 0;
}

.profile_summary .content ul li {
  padding-bottom: 10px;
}

.profile_summary .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #1379a8;
}

.profile_summary .content p:last-child {
  margin-bottom: 0;
}

/* academic-educations */
.work_experience h5 {
  font-size: 20px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 4px;
}

.work_experience .resume-title {
  font-size: 20px;
  font-weight: 600;
  color: #1379a8;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.work_experience .education h5 {
  margin-left: -10px;
  padding-top: 2px;
}

.work_experience .education ul {
  color: #1379a8;
  margin-left: -35px;
  font-size: 14px;
}

/* professional-courses */
.work_experience .certification h5 {
  margin-left: -8px;
  font-size: 16px;
  margin-top: 4px;
}

.work_experience .certification ul a {
  padding: 2px 10px 2px 2px;
  color: #1379a8;
  background-color: #e4edf9;
  border-radius: 100px;
  font-size: 14px;
  margin-left: -30px;
}

.work_experience .certificate-icon {
  fill: #1379a8;
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
  border-radius: 100%;
  background-color: #ffffff;
}

.work_experience .certificate-icon:hover {
  background-color: #1379a8;
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
  fill: #fff;
  border-radius: 100%;
  transition: all 0.5s ease-in-out;
}

/* employment-history */
.work_experience .employment {
  padding: 0 0 30px 20px;
  border-left: 2px solid #1379a8;
  position: relative;
}

.work_experience .employment h3 {
  line-height: 28px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
  margin-top: 8px;
}

.work_experience .employment h4 {
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #1379a8;
  margin-bottom: 4px;
}

.work_experience .employment h5 {
  font-size: 14px;
  background: #e4edf9;
  padding: 4px 14px;
  display: inline-block;
  font-weight: 500;
  margin-bottom: -14px;
  border-radius: 4px 40px 40px 4px;
  color: #1379a8;
}

.work_experience .employment:last-child {
  padding-bottom: 0;
}

.work_experience .employment::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 6px;
  background: #e4edf9;
  border: 2px solid #1379a8;
}

/* Key-Achievement */
#Key-Achievement .count-box {
  width: 100%;
  padding: 30px;
}

#Key-Achievement .count-box span {
  font-size: 40px;
  display: block;
  font-weight: 700;
  color: #173b6c;
  margin-top: -40px;
  margin-left: 125px;
  line-height: 20px;
  margin-right: 30px;
}

#Key-Achievement .count-box p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1379a8;
  text-align: center;
  margin-top: 30px;
}

#Key-Achievement .big-icons {
  fill: #1379a8;
  width: 60px;
  margin-left: 50px;
}

#Key-Achievement #big-icon-row {
margin: 50px;
}

#Key-Achievement li {
  list-style-type: '☆';
  padding: 4px 4px 4px 18px;
  color: #1379a8;
}

#Key-Achievement ul {
  padding: 4px 4px 4px 18px;
}


/* Portfolio-Preview */
.small-icons {
  fill: #fff;
  width: 30px;
}

.portfolio_preview .portfolio-item {
  margin-bottom: 30px;
}

.portfolio_preview #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #f5f8fd;
  border-radius: 50px;
}

.portfolio_preview #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
  color: #1379a8;
  margin: 2px;
  transition: all 0.3s ease-in-out;
}

.portfolio_preview #portfolio-flters li:hover,
.portfolio_preview #portfolio-flters li.filter-active {
  color: #082d58;
  background: rgba(20, 157, 221, 0.295);
  line-height: 1;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}

.portfolio_preview #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio_preview .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 12px;
  border: solid .5px lightgray;
}

.portfolio_preview .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio_preview .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -160px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
}

.portfolio_preview .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 16px;
  text-align: center;
  background: rgba(20, 157, 221, 0.5);
  transition: 0.3s;
  width: 50%;
}

.portfolio_preview .portfolio-wrap .portfolio-links a:hover {
  background: rgba(20, 157, 221, 0.80);
}

.portfolio_preview .portfolio-wrap .portfolio-links a + a {
  border-left: 1px solid #149ddd;
}

.portfolio_preview .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio_preview .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

@media (max-width: 320px) {
  #portfolio-flters {
    display: none;
  }
}

/* Tech-Proficiency */
.tech_proficiency .progress {
  height: 50px;
  display: block;
  background: none;
}

.tech_proficiency .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: none;
  display: block;
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}

.tech_proficiency .progress .skill .val {
  float: right;
  font-style: normal;
}

.tech_proficiency .progress-bar-wrap {
  background: #a6d1e7;
}

.tech_proficiency .progress-bar {
  width: 1px;
  height: 8px;
  transition: 0.9s;
  background-color: #1379a8;
}

/* Design-Expertise */
.design_expertise .icon-box {
  margin-bottom: 20px;
}

.design_expertise .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #dff3fc;
  border-radius: 50%;
  transition: 0.5s;
}

.design_expertise .title {
  margin-left: 56px;
  font-weight: 600;
  margin-bottom: 4px;
  font-size: 18px;
  color: #1379a8;
}

.design_expertise .description {
  margin-left: 56px;
  line-height: 20px;
  font-size: 14px;
}

#oval-icon-title {
  margin-top: -80px;
  }

.oval-shaped-icons {
  fill:#1379a8;
  border-radius: 100px;
  width: 40px;
  height: 80px;
  background: #f5f8fd;
  margin-top: 10px;
}

.oval-shaped-icons:hover {
  margin-top: 10px;
  fill: #ffffff;
  border-radius: 100px;
  width: 40px;
  height: 80px;
  background: #1379a8;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

/* Few-Testimonials */
.few_testimonials .testimonial-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}

.few_testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
  border: solid 1px rgb(222, 222, 222);
}

.few_testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.few_testimonials .testimonial-item h4 {
  font-size: 16px;
  color: #999;
  margin: 0;
}

.few_testimonials .testimonial-item h5 {
  font-size: 14px;
  color: rgb(114, 114, 114);
  margin: 4px 0 5px 0;
}

.few_testimonials .testimonial-item .quote-icon-left,
.few_testimonials .testimonial-item .quote-icon-right {
  color: #c3e8fa;
  font-size: 26px;
}

.few_testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.few_testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.few_testimonials .testimonial-item p {
  font-size: 16px;
  margin: 0 15px 15px 15px;
  padding: 20px;
  background: #fff;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-justify: distribute-all-lines;
}

.few_testimonials .testimonial-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}

.few_testimonials .owl-nav,
.few_testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.few_testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.few_testimonials .owl-dot.active {
  background-color: #1379a8 !important;
}

#real-comment p {
    text-align: left;
    text-justify: distribute-all-lines;
    font-size: 14px;
}

#demo-comment p {
  text-align:left;
  text-justify: distribute-all-lines;
  font-size: 14px;
  color: rgb(196, 196, 196);
}

@media (max-width: 767px) {
  .few_testimonials {
    margin: 30px 10px;
  }
}

/* Contact-Synopsis */
.contact_synopsis {
  padding-bottom: 130px;
}

.contact_synopsis .info {
  padding: 20px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact_synopsis .info h4 {
  padding: 0 0 0 4px;
  font-size: 22px;
  font-weight: 600;
  color: #050d18;
}

.contact_synopsis .info p {
  padding: 0 0 0 4px;
  font-size: 14px;
  color: #173b6c;
}

.contact_synopsis .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact_synopsis .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact_synopsis .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact_synopsis .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact_synopsis .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact_synopsis .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact_synopsis .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact_synopsis .php-email-form input,
.contact_synopsis .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact_synopsis .php-email-form input {
  height: 44px;
}

.contact_synopsis .php-email-form textarea {
  padding: 10px 12px;
}

.contact_synopsis .php-email-form button[type="submit"] {
  background: #1379a8;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact_synopsis .php-email-form button[type="submit"]:hover {
  background: #3c4261;
}

.contact-icons {
  fill: #1379a8;
  width: 40px;
  height: 40px;
  margin-bottom: 40px;
  background-color: #f5f8fd; 
  border-radius: 50%;
}

.contact_synopsis-icons:hover {
  fill: #fff;
  width: 40px;
  height: 40px;
  margin-bottom: 40px;
  background-color: #1379a8; 
  border-radius: 50%;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.icons-text {
  display: inline-block;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Footer-Style */
#footer {
  color: #f4f6fd;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 240px;
  z-index: 9999;
  background: #091330;
  padding: 2px;
}

#footer .copyright {
  text-align: center;
}

#footer .copyright a {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  border: #3c4261 solid 1px;
  padding: 2px 8px 2px 8px;
  border-radius: 12px;
}

#footer .copyright a:hover {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  color: #091330;
  background: #666d8f;
  padding: 2px 8px 2px 8px;
  border-radius: 12px;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

#footer-text p{
  font-size: 10px;
  color: #3c4261;
  text-align: center;
  padding-top: 6px;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}

/* Back-To-Top */
.back-to-top {
  position: fixed;
  display: none;
  right: 14px;
  bottom: 14px;
  background: rgba(9, 19, 48, 0.50);
  z-index: 99999;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  transition: all .5s ease-in-out;
  cursor: pointer;
  text-align: center;
  line-height: 46px;
}

.back-to-top:hover {
  background: rgba(19, 121, 168);
  transition: background 0.5s ease-in-out;
}

.arrow-up-top {
  border: solid lightcyan;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(-135deg);
}

/* Caption-Title */
.carousel-control-prev {
  width: unset
}

.carousel-control-next {
  width: unset
}

.arrow-left {
  border: solid #1379a8;
  border-width: 0 2px 2px 0;
  padding: 5px;
  transform: rotate(-45deg);
  margin-bottom: 20px;
}

.arrow-right {
  border: solid 4px #1379a8;
  border-width: 0 2px 2px 0;
  padding: 5px;
  transform: rotate(135deg);
  margin-bottom: 20px;
}

/* Visitor-Button */
.icon-svg {
  fill: #1379a8;
  width: 36px;
  background: #f5f8fd;
  border-radius: 6px;
  margin-top: 12px;
}

.icon-svg:hover {
  fill: #ffffff;
  width: 36px;
  background: #1379a8;
  border-radius: 6px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.page-button p{
  color: #1379a8;
  font-size: 12px;
  text-align: center;
}

.svg-icon-block {
  display: block;
  justify-content: center;
}

/* Slider-Gallery */
#all-projects {
  position: relative;
  min-width: 340px;
  width: 100%;
  align-items: center;
  overflow: hidden;
  background-size: cover;
}

.section-title h4 {
  font-size: 18px;
  margin: 4px;
  padding: 4px;
  position: relative;
  color: #1379a8;
}

.section-title h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #1379a8;
  bottom: 0;
  left: 0;
}
