/*----------------------------------------------------------------------------------------------------------------------------
General Styling
----------------------------------------------------------------------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #082d58;
}

a {
  color: #3c4261;
}

a:hover {
  color: #1379a8;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  text-align: justify;
  text-justify: distribute-all-lines;
  font-size: 14px;
}

/*----------------------------------------------------------------------------------------------------------------------------
Header Section
----------------------------------------------------------------------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  transition: all ease-in-out 0.5s;
  z-index: 9999;
  transition: all 0.5s;
  padding: 0 15px;
  background: #091330;
  overflow-y: auto;
}

#main {
  margin-left: 230px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}

/*----------------------------------------------------------------------------------------------------------------------------
Website Logo
----------------------------------------------------------------------------------------------------------------------------*/
#header .logo {
  fill: #fff;
  width: 115px;
  height: 115px;
  position: relative;
  margin: 50px auto auto;
  display: block;
  border-radius: 100px;
  border: 4px solid #3c4261;
  padding: 14px; 
}

#header .logo:hover {
  fill: #3c4261;
  width: 115px;
  height: 115px;
  position: relative;
  margin: 50px auto auto;
  display: block;
  border-radius: 100px;
  border: 4px solid #3c4261;
  padding: 14px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

/*----------------------------------------------------------------------------------------------------------------------------
Social Icons
----------------------------------------------------------------------------------------------------------------------------*/
#header .social-media .social-links a {
  font-size: 10px;
  display: inline-block;
  background: #3c4261;
  fill: #091330;
  line-height: 1;
  padding: 0;
  margin: 2px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: 0.9s;
  margin-top: 140px;
}

#header .social-media .social-links a:hover {
  background: #3c4261;
  fill: #fff;
  text-decoration: none;
}

/*----------------------------------------------------------------------------------------------------------------------------
Navigation Menu (Desktop)
----------------------------------------------------------------------------------------------------------------------------*/
.navbar-icons {
  fill: #6f7180;
  width: 36px;
  height: 36px;
}

.navbar-icons:hover {
  fill: #fff;
  width: 36px;
  height: 36px;
}

.nav-menu span {
  padding-left: 4px;
  margin: 12px;
  display: block;
  position: relative;
}

.sidebar-link ul {
  margin-top: 20px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu {
  padding-top: 30px;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #6f7180;
  padding: 8px;
  transition: 0.3s;
  font-size: 16px;
  height: 56px;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu .active > a  {
  text-decoration: none;
  color: #ffffff;
}

.nav-menu li:hover > a {
  text-decoration: none;
  color: #ffffff;
}

.nav-menu .active > a i 
.nav-menu li:hover > a i {
  color: #ffffff;
}

.nav-menu a:hover 
.nav-menu li:hover > a {
  text-decoration: none;
  color: #ffffff;
}

.nav-menu a:hover i 
.nav-menu li:hover > a i {
  color: #ffffff;
}

/*----------------------------------------------------------------------------------------------------------------------------
Hamburger Menu (Mobile)
----------------------------------------------------------------------------------------------------------------------------*/
.mobile-nav-toggle {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none !important;
  font-size: 20px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right; 
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

.menubox-background{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(9, 19, 48, 0.50);
  height: 36px;
  width: 36px;
  border-radius: 4px;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.burger-bar-1 {
  content: '';
  position: absolute;
  background: lightcyan;
  height: 2px;
  width: 22px;
  border-radius: 10px;
  transition: all .5s ease-in-out;
  transform: translateY(-6px);
}

.burger-bar-2 {
  background: lightcyan;
  height: 2px;
  width: 22px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.burger-bar-3 {
  content: '';
  position: absolute;
  background: lightcyan;
  height: 2px;
  width: 22px;
  border-radius: 10px;
  transition: all .5s ease-in-out;
  transform: translateY(6px);
}

.change .burger-bar-1{
  transform: rotate(-45deg) translateY(0px);
}

.change .burger-bar-2 {
  opacity: 0;
}

.change .burger-bar-3 {
  transform: rotate(45deg) translateY(0px);
}

/*----------------------------------------------------------------------------------------------------------------------------
Background (Hero) Image
----------------------------------------------------------------------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../img/hero-bg.jpg") no-repeat center;
  background-size: cover;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 340px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 50px;
  font-weight: 550;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  margin: 0;
  font-size: 34px;
  font-weight: 500;
  line-height: 50px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 4px solid #1379a8;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 40px;
    line-height: 36px;
    font-weight: 600;
  }
  #hero h2 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}

/*----------------------------------------------------------------------------------------------------------------------------
Section Styling
----------------------------------------------------------------------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 4px;
  background: #1379a8;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

.section-title li {
  margin-bottom: 10px;
  font-size: 16px;
}

/*----------------------------------------------------------------------------------------------------------------------------
Profile Preview
----------------------------------------------------------------------------------------------------------------------------*/
.profile .content h3 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  color: #1379a8;
}

.profile .content ul {
  list-style: none;
  padding: 0;
}

.profile .content ul li {
  padding-bottom: 10px;
}

.profile .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #1379a8;
}

.profile .content p:last-child {
  margin-bottom: 0;
}

/*----------------------------------------------------------------------------------------------------------------------------
Tech Expertise
----------------------------------------------------------------------------------------------------------------------------*/
.software .progress {
  height: 50px;
  display: block;
  background: none;
}

.software .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: none;
  display: block;
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}

.software .progress .skill .val {
  float: right;
  font-style: normal;
}

.software .progress-bar-wrap {
  background: #a6d1e7;
}

.software .progress-bar {
  width: 1px;
  height: 8px;
  transition: 0.9s;
  background-color: #1379a8;
}

/*----------------------------------------------------------------------------------------------------------------------------
Job Experience
----------------------------------------------------------------------------------------------------------------------------*/
.career {
  padding-bottom: 30px;
}

.career .count-box {
  padding: 30px;
  width: 100%;
}

.career .count-box span {
  font-size: 40px;
  line-height: 40px;
  display: block;
  font-weight: 600;
  color: #173b6c;
  margin-left: 80px;
}

.career .count-box p {
  padding: 10px 0 0 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #1379a8;
  margin-left: 50px;
}

.big-icon-box {
  margin-bottom: -80px;
  margin-left: -20px;
}

.big-icons {
  fill: #1379a8;
  width: 60px;
}

/*----------------------------------------------------------------------------------------------------------------------------
Academic Educations (Resume Repositary)
----------------------------------------------------------------------------------------------------------------------------*/
.resume h5 {
  font-size: 20px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 4px;
}

.resume .resume-title{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 22px;
  color: #1379a8;
  text-align: center;
}

.resume .education h5{
  margin-left: -10px;
  padding-top: 2px;
}

.resume .education ul{
  color: #1379a8;
  margin-left: -35px;
  font-size: 14px;
}

/*----------------------------------------------------------------------------------------------------------------------------
Professional Courses (Resume Repositary)
----------------------------------------------------------------------------------------------------------------------------*/
.resume .certification h5{
  margin-left: -8px;
  font-size: 16px;
  margin-top: 4px;
}

.resume .certification ul a{
  padding: 2px 10px 2px 2px;
  color: #1379a8;
  background-color: #e4edf9;
  border-radius: 100px;
  font-size: 14px;
  margin-left: -30px;
}

.resume .certification ul a:hover {
  color: #1379a8;
  background-color: rgb(199, 219, 255);
  padding: 2px 10px 2px 2px;
  border-radius: 100px;
  }

.resume .certificate-icon {
  fill: #1379a8;
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
}

/*----------------------------------------------------------------------------------------------------------------------------
Employment History (Resume Repositary)
--------------------------------------------------------------------------------------------------------------------------- */
.resume .employment {
  padding: 0 0 30px 20px;
  border-left: 2px solid #1379a8;
  position: relative;
}

.resume .employment h3 {
  line-height: 28px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
  margin-top: 8px;
}

.resume .employment h4 {
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #1379a8;
  margin-bottom: 4px;
}

.resume .employment h5 {
  font-size: 14px;
  background: #e4edf9;
  padding: 4px 14px;
  display: inline-block;
  font-weight: 500;
  margin-bottom: -14px;
  border-radius: 4px 40px 40px 4px;
  color: #1379a8;
}

.resume .employment:last-child {
  padding-bottom: 0;
}

.resume .employment::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 6px;
  background: #e4edf9;
  border: 2px solid #1379a8;
}

/*----------------------------------------------------------------------------------------------------------------------------
Awards Bucket
----------------------------------------------------------------------------------------------------------------------------*/
.award-enrichment ul{
  margin-left: -20px;
  margin-right: 4px;
  text-justify: distribute-all-lines;
}

/*----------------------------------------------------------------------------------------------------------------------------
Portfolio Works
----------------------------------------------------------------------------------------------------------------------------*/
.small-icons {
  fill: #fff;
  width: 30px;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
  color: #1379a8;
  margin: 2px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #082d58;
  background: rgba(20, 157, 221, 0.295);
  line-height: 1;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -160px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 16px;
  text-align: center;
  background: rgba(20, 157, 221, 0.5);
  transition: 0.3s;
  width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgba(20, 157, 221, 0.80);
}

.portfolio .portfolio-wrap .portfolio-links a + a {
  border-left: 1px solid #149ddd;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

@media (max-width: 767px) {
  #portfolio-flters {
    display: none;
  }
}

/*----------------------------------------------------------------------------------------------------------------------------
Design Widgets
----------------------------------------------------------------------------------------------------------------------------*/
.proficiency .icon-box {
  margin-bottom: 20px;
}

.proficiency .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #dff3fc;
  border-radius: 50%;
  transition: 0.5s;
}

.proficiency .title {
  margin-left: 56px;
  font-weight: 600;
  margin-bottom: 4px;
  font-size: 18px;
  color: #1379a8;
}

.proficiency .description {
  margin-left: 56px;
  line-height: 20px;
  font-size: 14px;
}

.de-icons {
  fill:#1379a8;
  border-radius: 100px;
  border: 2px solid #1379a8; 
  width: 40px;
  height: 80px;
  background: #f5f8fd;
  margin-top: 10px;
}

.de-icons:hover {
  margin-top: 10px;
  fill: #ffffff;
  border-radius: 100px;
  border: 2px solid #1379a8; 
  width: 40px;
  height: 80px;
  background: #1379a8;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

#de-texts {
  margin-top: -80px;
  }

/*----------------------------------------------------------------------------------------------------------------------------
Key Testimonial
----------------------------------------------------------------------------------------------------------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 16px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item h5 {
  font-size: 14px;
  color: rgb(114, 114, 114);
  margin: 4px 0 5px 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #c3e8fa;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-size: 16px;
  margin: 0 15px 15px 15px;
  padding: 20px;
  background: #fff;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-justify: distribute-all-lines;
}

.testimonials .testimonial-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}

.testimonials .owl-nav,
.testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.testimonials .owl-dot.active {
  background-color: #1379a8 !important;
}

#real-comment p {
    text-align: justify;
    text-justify: distribute-all-lines;
    font-size: 14px;
}

#demo-comment p {
  text-align: justify;
  text-justify: distribute-all-lines;
  font-size: 14px;
  color: rgb(196, 196, 196);
}

@media (max-width: 767px) {
  .testimonials {
    margin: 30px 10px;
  }
}

/*----------------------------------------------------------------------------------------------------------------------------
Contact Details
----------------------------------------------------------------------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 20px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info h4 {
  padding: 0 0 0 4px;
  font-size: 22px;
  font-weight: 600;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 0 4px;
  font-size: 14px;
  color: #173b6c;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #1379a8;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #3c4261;
}

.contact-icons {
  fill: #1379a8;
  width: 40px;
  height: 40px;
  margin-bottom: 40px;
  background-color: #f5f8fd; 
  border-radius: 50%;
}

.contact-icons:hover {
  fill: #fff;
  width: 40px;
  height: 40px;
  margin-bottom: 40px;
  background-color: #1379a8; 
  border-radius: 50%;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.icons-text {
  display: inline-block;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*----------------------------------------------------------------------------------------------------------------------------
Footer Section
----------------------------------------------------------------------------------------------------------------------------*/
#footer {
  padding: 1.5em;
  color: #f4f6fd;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 240px;
  z-index: 9999;
  background: #091330;
}

#footer .copyright {
  text-align: center;
}
#footer .copyright a {
  padding-top: 6px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #3c4261;
}
#footer .copyright a:hover {
  padding-top: 6px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #666d8f;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}

/*----------------------------------------------------------------------------------------------------------------------------
Back-To-Top
----------------------------------------------------------------------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 14px;
  bottom: 14px;
  background: rgba(9, 19, 48, 0.50);
  z-index: 99999;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  transition: all .5s ease-in-out;
  cursor: pointer;
  text-align: center;
  line-height: 46px;
}

.back-to-top:hover {
  background: rgba(19, 121, 168);
  transition: background 0.5s ease-in-out;
}

.arrow-up-top {
  border: solid lightcyan;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(-135deg);
}

/*----------------------------------------------------------------------------------------------------------------------------
Project-Page-Style
----------------------------------------------------------------------------------------------------------------------------*/

.info-details-title  {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -1rem;
  border-radius: 100px;
}

.info-details-title h3 {
  font-size: 20px;
  font-weight: 500;
  color: #1379a8;
  text-align: center;
  margin-top: 10px;
}

.arrow-left {
  border: solid #1379a8;
  border-width: 0 1px 1px 0;
  padding: 5px;
  transform: rotate(-45deg);
}

#arrow-bg-left {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 100px;
  padding: 0 20px 0 12px;
}

#arrow-bg-left:hover {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f8fd;
  border-radius: 100px;
  padding: 0 20px 0 12px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.arrow-right {
  border: solid #1379a8;
  border-width: 0 1px 1px 0;
  padding: 5px;
  transform: rotate(135deg);
}

#arrow-bg-right {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 100px;
  padding: 0 20px 0 16px;
}

#arrow-bg-right:hover {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f8fd;
  border-radius: 100px;
  padding: 0 20px 0 16px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */

#section-photo-gallery {
  align-items: center;
  display: flex;
  justify-content: center;
  background: #fff;
  border-radius: 8px;
  display: flex;
  border: 1px solid lightgray;
  margin-top: -2rem;
  }
/* ---------------------------------------------------------------------------------------------------------------------------- */

.info-details-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -2rem;
}

.icon-svg {
  fill: #1379a8;
  width: 40px;
  background: #f5f8fd;
  border-radius: 6px;
}

.icon-svg:hover {
  fill: #ffffff;
  width: 40px;
  background: #1379a8;
  border-radius: 6px;
  transition: all 0.1s ease-in-out;
}

.page-button h6 {
  color: #1379a8;
  font-size: 14px;
  text-align: center;
  margin-top: 0.4rem;
}

.page-button p {
  color: #1379a8;
  font-size: 14px;
}

.popup-react-text {
  visibility: hidden;
  padding: 1rem 1rem 0rem 1rem;
  position: absolute;
  display: inline-block;
  z-index: 1;
  margin-top: -0.4rem;
  background: #ffffff;
  color: #1379a8;
  border-radius: 50px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.svg-react-hover:hover .popup-react-text {
  visibility: visible;
  padding: 1rem 1rem 0rem 1rem;
  position: absolute;
  z-index: 1;
  display: inline-block;
  background: #ffffff;
  color: #1379a8;
  border-radius: 50px;
  margin-left: 1rem;
  margin-top: -0.4rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: all 0.5s ease-in-out;
}

.popup-insight-text {
  visibility: hidden;
  width: 450px;
  padding: 1rem 1rem 0rem 1rem;
  position: absolute;
  display: inline-block;
  line-height: 1.6rem;
  z-index: 1;
  margin-left: -31%;
  margin-top: -7%;
  background: #ffffff;
  color: #1379a8;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.svg-insight-hover:hover .popup-insight-text {
  visibility: visible;
  padding: 1rem 1rem 0rem 1rem;
  position: absolute;
  z-index: 1;
  display: inline-block;
  margin-left: -31%;
  margin-top: -10%;
  background: #ffffff;
  color: #1379a8;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: all 0.5s ease-in-out;
}

.popup-insight-text::after {
  content:'';
  position: absolute;
  top: 70%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: violet transparent transparent transparent;
}